<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706444965289-e2g2slhfkuipcoi0mcpj0nkf61glig23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706444965289-e2g2slhfkuipcoi0mcpj0nkf61glig23</string>
	<key>API_KEY</key>
	<string>AIzaSyB6YSW9oZozbe2v_Nm7Lc0N32fcPX4sGwk</string>
	<key>GCM_SENDER_ID</key>
	<string>706444965289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pokedex</string>
	<key>PROJECT_ID</key>
	<string>pokedexdb-98e86</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedexdb-98e86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706444965289:ios:2551ad13d3d87b61b5c0b8</string>
</dict>
</plist>